*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 650px;

    border: solid;
}
.container-inputs{
    width: 50%;
}
.img{
    
    width: 450px;
    height: 450px;
background-image: URL('IMG/1.png');
background-size: cover;

}
.linha {
width: 35px;
height: 35px;
 border: 2px solid;
 
}
.container-linha{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25px;
    margin-top: 25px;
    

}