main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(24, 167, 31), #082e0faa);
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #fff;
}

button{
    width: 460px;
    height: 105px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 5px #000000;
    cursor: pointer;
    
}


